{% block meta %}
{% end %}

{% block body %}

<body style="" onload="window.input_passcode.passvalue1.focus()">
    <div class="row">
        <div class="col-lg-10">
            <div class="well bs-component">
                <form class="bs-example form-horizontal" role="form" name="input_passcode" method='post' action="/manul_dama/input">
                    {% raw xsrf_form_html() %}
                    <div class="form-group">
                        <label class="col-sm-2 control-label">验证码：</label>
                        <div class="col-sm-10">
                            <img style="width:60%; height:60%" src="data:image/png;base64, {{image_content}}" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="col-sm-2 control-label">确认：</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="passvalue1" placeholder="图片序号">
                            <input type="hidden" name="search_key" value={{item["search_key"] if item.has_key("search_key") else ""}}>
                        </div>
                        <div>
                            <span class="label label-default">还剩{{ total }}个</span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% end %}
    </body>
