{% block meta %}
{% end %}

{% block body %}

<body style="" onload="window.input_passcode.user_name.focus()">
<div class="row">
          <div class="col-lg-10">
            <div class="well bs-component">
<form class="bs-example form-horizontal" role="form" name="input_passcode" method='get' action="/admin/manual_passcode">
    {% raw xsrf_form_html() %}
    <div class="form-group">
        <label class="col-sm-2 control-label">用户名：</label>
    </div>
    <div class="form-group">
        <label for="inputPassword" class="col-sm-2 control-label">用户名：</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="user_name" placeholder="用户名">
        </div>
    </div>
</form>
    </div>
    </div>
    </div>

    {% end %}
</body>
