{% block meta %}
{% end %}

{% block body %}

<body style="" onload="window.input_passcode.user_name.focus()">
<div class="row">
          <div class="col-lg-10">
            <div class="well bs-component">
<form class="bs-example form-horizontal" role="form" name="input_passcode" method='get' action="/manul_dama/login_process">
    {% raw xsrf_form_html() %}
    <!--
    <div class="form-group">
        <label for="inputPassword" class="col-sm-2 control-label">用户名：</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="user_name" placeholder="用户名">
        </div>
        <br>
        <label for="inputPassword" class="col-sm-2 control-label">操作编号：</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="token" placeholder="向技术人员索取">
        </div>
    </div>
    -->
    <table  width="350" bgcolor="#ccffcc" style="border-color" border="1">
        <tr align=center>
            <td>用户名</td><td><input type="text" name="user_name"  id="user_name" placeholder="用户名全拼"></td>
        </tr>
        <tr align=center><td>操作token</td><td><input type="text" name="token" id="token" placeholder="向技术人员索取"></td></tr>
        <tr align=center>
            <td colspan="2">
                <input type="submit" value="登 录" />
                <input type="reset" value="重 置"/>
            </td>
        </tr>
    </table>
    {% if msg %}
    <p><span style="color: red">{{msg}}</span></p>
    {% end %}
    </form>
    </div>
    </div>
    </div>

    {% end %}
</body>
