{% block meta %}
{% end %}

{% block body %}

<body style="" onload="window.input_passcode.passvalue1.focus()">
<center>
    <div class="row">
        <div class="col-lg-10">
            <div class="well bs-component">
                <h3> 打码平台使用情况统计({{monitor_term}} 分钟)</h3>
                <table  align="center" width="60%" height="60%" border="3px" cellpadding="0" cellspacing="0">
                    <tr>
                        <th>打码平台编码</th>
                        <th>状态</th>
                        <th>请求数量</th>
                        <th>平均执行时间(s)</th>
                    </tr>
                    {% if not items %}
                    <tr>
                        <td align="center">无</td>
                        <td align="center">无</td>
                        <td align="center">无</td>
                        <td align="center">无</td>
                    </tr>
                    {% else %}
                    {% for it in items %}
                    <tr>
                        <td align="center">{{it['dama_platform']}}</td>
                        <td align="center">{{it['status']}}</td>
                        <td align="center">{{it['count']}}</td>
                        <td align="center">{{it['spendtime']}}</td>
                    </tr>
                    {% end %}
                    {% end %}
                </table>
            </div>
            <p>(0:接口调用中&nbsp;1:成功&nbsp;2:打码平台500错误&nbsp;3:打码平台返回错误&nbsp;4:打码平台数据格式错误&nbsp;5:12306验证错误)</p>
            <div class="well bs-component">
                <h3> 打码平台成功率统计({{monitor_term}} 分钟)</h3>
                <table  align="center" width="60%" height="60%" border="3px" cellpadding="0" cellspacing="0">
                    <tr>
                        <th>打码平台编码</th>
                        <th>成功率</th>
                    </tr>
                    {% if not ratio %}
                    <tr>
                        <td align="center">无</td>
                        <td align="center">无</td>
                    </tr>
                    {% else %}
                    {% for it in ratio %}
                    <tr>
                        <td align="center">{{it}}</td>
                        <td align="center">{{"%.2f" % float(it['succ'])/float(it['succ']+it['fail'])*100}}</td>
                    </tr>
                    {% end %}
                    {% end %}
                </table>
            </div>
        </div>
    </div>
</center>
</body>
{% end %}

