{% extends 'base.html' %}

{% block body %}
<div class="page-content">
						<!-- #section:settings.box -->
	<div class="ace-settings-container" id="ace-settings-container">
		<div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">
			<i class="ace-icon fa fa-cog bigger-130"></i>
		</div>

		<div class="ace-settings-box clearfix" id="ace-settings-box">
			<div class="pull-left width-50">
				<!-- #section:settings.skins -->
				<div class="ace-settings-item">
					<div class="pull-left">
						<select id="skin-colorpicker" class="hide">
							<option data-skin="no-skin" value="#438EB9">#438EB9</option>
							<option data-skin="skin-1" value="#222A2D">#222A2D</option>
							<option data-skin="skin-2" value="#C6487E">#C6487E</option>
							<option data-skin="skin-3" value="#D0D0D0">#D0D0D0</option>
						</select>
					</div>
					<span>&nbsp; Choose Skin</span>
				</div>

				<!-- /section:settings.skins -->

				<!-- #section:settings.navbar -->
				<div class="ace-settings-item">
					<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-navbar" />
					<label class="lbl" for="ace-settings-navbar"> Fixed Navbar</label>
				</div>

				<!-- /section:settings.navbar -->

				<!-- #section:settings.sidebar -->
				<div class="ace-settings-item">
					<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-sidebar" />
					<label class="lbl" for="ace-settings-sidebar"> Fixed Sidebar</label>
				</div>

				<!-- /section:settings.sidebar -->

				<!-- #section:settings.breadcrumbs -->
				<div class="ace-settings-item">
					<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-breadcrumbs" />
					<label class="lbl" for="ace-settings-breadcrumbs"> Fixed Breadcrumbs</label>
				</div>

				<!-- /section:settings.breadcrumbs -->

				<!-- #section:settings.rtl -->
				<div class="ace-settings-item">
					<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-rtl" />
					<label class="lbl" for="ace-settings-rtl"> Right To Left (rtl)</label>
				</div>

				<!-- /section:settings.rtl -->

				<!-- #section:settings.container -->
				<div class="ace-settings-item">
					<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-add-container" />
					<label class="lbl" for="ace-settings-add-container">
						Inside
						<b>.container</b>
					</label>
				</div>

				<!-- /section:settings.container -->
			</div><!-- /.pull-left -->

			<div class="pull-left width-50">
				<!-- #section:basics/sidebar.options -->
				<div class="ace-settings-item">
					<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-hover" />
					<label class="lbl" for="ace-settings-hover"> Submenu on Hover</label>
				</div>

				<div class="ace-settings-item">
					<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-compact" />
					<label class="lbl" for="ace-settings-compact"> Compact Sidebar</label>
				</div>

				<div class="ace-settings-item">
					<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-highlight" />
					<label class="lbl" for="ace-settings-highlight"> Alt. Active Item</label>
				</div>

				<!-- /section:basics/sidebar.options -->
			</div><!-- /.pull-left -->
		</div><!-- /.ace-settings-box -->
	</div><!-- /.ace-settings-container -->

	<!-- /section:settings.box -->
	<div class="page-header">
		<h1>
			打码平台
			<small>
				<i class="ace-icon fa fa-angle-double-right"></i>
				配置概况
			</small>
		</h1>
	</div><!-- /.page-header -->

	<div class="row">
		<div class="col-xs-12">
			<!-- PAGE CONTENT BEGINS -->
			{% if errmsg %}
			<div class="alert alert-danger">
				<button type="button" class="close" data-dismiss="alert">
					<i class="ace-icon fa fa-times"></i>
				</button>
				<strong>
					<i class="ace-icon fa fa-times"></i>
					Oh Shit!
				</strong>
				{{ errmsg }}
				<br>
			</div>
			{% elif flag %}
			<div class="alert alert-block alert-success">
				<button type="button" class="close" data-dismiss="alert">
					<i class="ace-icon fa fa-times"></i>
				</button>
				<p>
					<strong>
						<i class="ace-icon fa fa-check"></i>
						Well done!
					</strong>
				    相信自己，你真的做到了！你成功的切换了打码平台，我代表人民感谢你！不过我建议你还是到下面的表中核实一下
				</p>
			</div>
			{% end %}
			<form class="form-horizontal" role="form" action="/op/platform_change" method="post">
			    <div class="form-group">
				    <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="seller">使用者</label>
					<div class="col-xs-12 col-sm-9">
					<!-- #section:custom/checkbox -->
						<div class="checkbox">
							<label>
								<input name="seller" type="checkbox" class="ace" value="yh">
								<span class="lbl">YH</span>
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input name="seller" type="checkbox" class="ace" value="dh">
								<span class="lbl">DH</span>
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input name="seller" type="checkbox" class="ace" value="default">
								<span class="lbl">Default</span>
							</label>
						</div>
					<!-- /section:custom/checkbox -->
				    </div>
				</div>
				<hr/>
				<div class="form-group">
				    <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="seller_platform">销售平台</label>
					<div class="col-xs-12 col-sm-9">
					<!-- #section:custom/checkbox -->
						<div class="checkbox">
							<label>
								<input name="seller_platform" type="checkbox" class="ace" value="qn">
								<span class="lbl">QN</span>
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input name="seller_platform" type="checkbox" class="ace" value="tb">
								<span class="lbl">TB</span>
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input name="seller_platform" type="checkbox" class="ace" value="tc">
								<span class="lbl">TC</span>
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input name="seller_platform" type="checkbox" class="ace" value="default">
								<span class="lbl">Default</span>
							</label>
						</div>
					<!-- /section:custom/checkbox -->
				    </div>
				</div>
				<hr/>
				<div class="form-group">
				    <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="seller_platform">使用场景</label>
					<div class="col-xs-12 col-sm-9">
					<!-- #section:custom/checkbox -->
						<div class="checkbox">
							<label>
								<input name="scene" type="checkbox" checked="checked" class="ace" value="login_for_book">
								<span class="lbl">订座登录(login_for_book)</span>
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input name="scene" type="checkbox" checked="checked" class="ace" value="check_order_info">
								<span class="lbl">下单(check_order_info)</span>
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input name="scene" type="checkbox" checked="checked" class="ace" value="login_for_pay">
								<span class="lbl">支付登录(login_for_pay)</span>
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input name="scene" type="checkbox" checked="checked" class="ace" value="login_for_issue">
								<span class="lbl">回贴登录(login_for_issue)</span>
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input name="scene" type="checkbox" checked="checked" class="ace" value="login_for_autopay">
								<span class="lbl">自动支付(login_for_autopay)</span>
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input name="scene" type="checkbox" checked="checked" class="ace" value="found_ticket">
								<span class="lbl">票号找回(found_ticket)</span>
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input name="scene" type="checkbox" checked="checked" class="ace" value="passengers_query">
								<span class="lbl">身份核验(passengers_query)</span>
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input name="scene" type="checkbox" checked="checked" class="ace" value="login_auto_resign">
								<span class="lbl">自动改签登录(login_auto_resign)</span>
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input name="scene" type="checkbox" checked="checked" class="ace" value="check_order_auto_resign">
								<span class="lbl">自动改签下单(check_order_auto_resign)</span>
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input name="scene" type="checkbox" class="ace" value="default">
								<span class="lbl">其它场景(default)</span>
							</label>
						</div>
					<!-- /section:custom/checkbox -->
				    </div>
				</div>
				<div class="form-group">
				    <label class="control-label col-x-12 col-sm-3 no-padding-right" for="dama_platform">打码平台</label>
					<div class="col-xs-12 col-sm-9">
				        <select name="dama_platform" id="dama_platform" style="width: 200px;">
				            <option value="ruokuai">若快</option>
				            <option value="yunsu">云速</option>
				            <option value="yundama">云打码</option>
				            <option value="dama2">打码兔</option>
				            <option value="qunar_dama">去哪儿</option>
			            </select>
			        </div>
			    </div>
			    <div class="clearfix form-actions">
					<div class="col-md-offset-3 col-md-9">
						<button class="btn btn-info" type="submit">
							<i class="ace-icon fa fa-check bigger-110"></i>
							Submit
						</button>
					</div>
				</div>
				</form>
				<div class="col-xs-12">
					<table id="simple-table" class="table table-striped table-bordered table-hover">
						<thead>
							<tr>
								<th>销售平台</th>
								<th>站点</th>
								<th class="hidden-480">打码场景</th>
								<th>打码平台</th>
								<th class="hidden-480">更新时间</th>
								<th>操作</th>
							</tr>
						</thead>

						<tbody>
						    {% for it in platforms %}
							<tr>
								<td>
									<a href="#">{{ it['seller_platform'] }}</a>
								</td>
								<td>{{ it['seller'] }}</td>
								<td>{{ it['scene'] }}</td>

								{% if it['dama_platform'] == 'ruokuai' %}
								<td class="hidden-480">
									<span class="label label-sm label-important">{{ it['dama_platform'] }}</span>
								</td>
								{% elif it['dama_platform'] == 'yunsu' %}
								<td class="hidden-480">
									<span class="label label-sm label-success">{{ it['dama_platform'] }}</span>
								</td>
								{% elif it['dama_platform'] == 'yundama' %}
								<td class="hidden-480">
									<span class="label label-sm label-yellow">{{ it['dama_platform'] }}</span>
								</td>
								{% elif it['dama_platform'] == 'dama2' %}
								<td class="hidden-480">
									<span class="label label-sm label-grey">{{ it['dama_platform'] }}</span>
								</td>
								{% elif it['dama_platform'] == 'qunar_dama' %}
								<td class="hidden-480">
									<span class="label label-sm label-inverse">{{ it['dama_platform'] }}</span>
								</td>
								{% end %}

								<td class="hidden-480">{{ it['updated'] }}</td>

								<td>
									<div class="hidden-sm hidden-xs btn-group">
										<!--button class="btn btn-xs btn-success">
											<i class="ace-icon fa fa-check bigger-120"></i>
										</button-->

										<button class="btn btn-xs btn-info">
											<i class="ace-icon fa fa-pencil bigger-120"></i>
										</button>

										<!--button class="btn btn-xs btn-danger">
											<i class="ace-icon fa fa-trash-o bigger-120"></i>
										</button-->

										<!--button class="btn btn-xs btn-warning">
											<i class="ace-icon fa fa-flag bigger-120"></i>
										</button-->
									</div>

								</td>
							</tr>
							{% end %}
						</tbody>
					</table>
				</div><!-- /.span -->
			</div><!-- /.row -->

			<!-- PAGE CONTENT ENDS -->
		</div><!-- /.col -->
	</div><!-- /.row -->
</div><!-- /.page-content -->
{% end %}